[Unit]
Description=Core Monitor (%i)

[Service]
Type=simple
ExecStart=/usr/local/bin/core-monitor.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
